<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OUTPUT</title>
</head>
<body>
    <h1>Plagiarism Percentage</h1>
    <br><br>
    <label>{{result}}</label>
</body>
</html>