<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plagiarism Check</title>
</head>
<body>

<form method="post" action="#">
    {% csrf_token %}
    <h1>Plagiarism Checker</h1>
    <br><br><br><br>
    <h2>FILE 1</h2>
    <br><br>
    <textarea rows="5" name="text1"></textarea>
    <br>
    <h2>FILE 2</h2>
    <br><br>
    <textarea rows="5" name="text2"></textarea>
    <br>
    <h2>TARGET</h2>
    <br><br>
    <textarea rows="5" name="target"></textarea>
    <br><br><br>
    <input type="submit" name="submit" />
</form>

</body>
</html>