<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Odd Even Sort</title>

</head>
<body>
    <form method="post" action="#">
        {% csrf_token %}
        INPUT ARRAY : <input type="text" name="textfield">
        <button type="submit">SUBMIT</button>
    </form>

    {% if res %}
    <label>Sorted array : </label><br>
    {% for e in res %}
    <label>{{ e }}</label><br>
    {% endfor %}
    {% endif %}

</body>
</html>