<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booth</title>
</head>
<body>
    <form method="POST" action="#">
        {% csrf_token %}
        <input name="Number1" type="text" placeholder="1st number"/>
        <input name="Number2" type="text" placeholder="2nd number"/>
        <button type="submit">Multiply</button><br><br>
    </form>
</body>
    {% if res %}
    <label>Multiplication Result: </label><br>
    {% for e in res %}
    <label>{{ e }}</label><br>
    {% endfor %}
    {% endif %}

</html>